/* BASED ON https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/css/fonts/google-sans.css */

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://github.com/miliena/Material-Discord/raw/master/font/OpenSans-Regular.ttf) format('ttf');
}

/* FONTS -> OPEN SANS -> 500 */

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(https://github.com/miliena/Material-Discord/raw/master/font/OpenSans-Medium.ttf) format('ttf');
}

/* FONTS -> OPEN SANS -> 700 */

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(https://github.com/miliena/Material-Discord/raw/master/font/OpenSans-Bold.ttf) format('ttf');
}

/* FONTS -> OPEN SANS -> ITALIC */

/* FONTS -> OPEN SANS -> ITALIC -> 400 */

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url(https://github.com/miliena/Material-Discord/raw/master/font/OpenSans-Italic.ttf) format('ttf');
}

/* FONTS -> OPEN SANS -> ITALIC -> 500 */

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 500;
	font-display: swap;
	src: url(https://github.com/miliena/Material-Discord/raw/master/font/OpenSans-MediumItalic.ttf) format('ttf');
}

/* FONTS -> OPEN SANS -> ITALIC -> 700 */

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url(https://github.com/miliena/Material-Discord/raw/master/font/OpenSans-BoldItalic.ttf) format('ttf');
}
